<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="collectionBean" class="com.abyss.domain.CollectionBean">
        <property name="list">
            <list>
                <value>段誉</value>
                <value>虚竹</value>
                <value>乔峰</value>
            </list>
        </property>
        <property name="set">
            <set>
                <value>唐语嫣</value>
                <value>天山童姥</value>
                <value>朱儿</value>
            </set>
        </property>
        <property name="map">
            <map>
                <entry key="left" value="左"/>
                <entry key="right" value="右"/>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="up">上</prop>
                <prop key="down">下</prop>
            </props>
        </property>
    </bean>
</beans>